<!DOCTYPE html>
<html>
<head>
<title>Handwritten to Text</title>
<link rel="icon" href="static/uploads/img/logo.PNG" type="image/icon type">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />	
<link rel="stylesheet" href="static/uploads/css/style.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="static/uploads/node_modules/font-awesome/css/font-awesome.min.css">
<script>
    let saveFile = () => {

        const msg = document.getElementById('msg');
        let data = 
            '\r Converted Text: ' + msg.value;
        
        const textToBLOB = new Blob([data], { type: 'text/plain' });
        const sFileName = 'Coverted.txt';	  

        let newLink = document.createElement("a");
        newLink.download = sFileName;

        if (window.webkitURL != null) {
            newLink.href = window.webkitURL.createObjectURL(textToBLOB);
        }
        else {
            newLink.href = window.URL.createObjectURL(textToBLOB);
            newLink.style.display = "none";
            document.body.appendChild(newLink);
        }

        newLink.click(); 
    }
</script>
</head>
<body>
<nav class="navbar fixed-top" style="background-color:white;border-bottom: 1px solid rgb(178, 180, 182);">
    <div class="container">
        <a class="navbar-brand" href="#" style="color:black;font-style:strong;"><img src="static/uploads/img/logo.PNG" width="45" height="33"></a>
        <ul class="nav navbar-nav" style="padding: auto;">
            <h2 style="font-family: fantasy;">Conversion</h2>
        </ul>
    </div>
</nav>
<div class="container" style="padding-top: 3%;">
    <div class="row">
        <h1 align="center" style="font-weight:bold;"><img src="static/uploads/img/logo.PNG" width="45" height="33"> Handwritten To Text For English Language</h1>
        <p align="center" style="font-size: 25px;color:rgb(116, 113, 113);" >Magically convert handwritten text to editable Text files</p>   
    </div>
</div>
<div class="container-1">
    <div class="item1" style="border: solid #bbb;background: rgb(112, 159, 245); ">
        <h3 style="font-weight: bold;" align="center">YOUR UPLOADED IMAGE</h3>
        <p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                {% for message in messages %}
                    <p style="font-size: medium;color: lightgreen;">{{ message }}</p>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </p>
        {% if filename %}
            <div>
                <img src="{{ url_for('static', filename=filename) }}"  width="600" ,height="50", style="padding-left:30px;">
            </div>
        {% endif %}
    </div>
    <div class="item2" style="border:solid #bbb;background: rgb(112, 159, 245);">
        <h3 style="font-weight: bold;" align="center">CONVERTED TEXT</h3>
        <form align="center">
            {% if text %}
        <textarea style="font-size: large;font-style: italic;width:95%;height:50%;" id="msg" name="msg" rows="5">{{ text }}</textarea>
        <input type="button" id="bt" class="btn btn-success" value="Save & Download File" onclick="saveFile()" style="width:30%;height:15%;font-weight: bold;font-size: large;border-radius: 2px;" />
        
        <!-- <p style="padding-left:15px;font-size: large;font-style: italic;">
            {{ text }}
        </p> -->
        {% endif %}
        </form>
    </div>
</div>
<div class="container" align="center">
    <div class="container-2" align="center">
        <div class="item1">
            <i class='fa fa-lightbulb-o fa-5x'></i>
            <h3>Quick and easy conversion</h3>
            <p>By just uploading your image file, you can convert handwritten to text within minutes. There’s no file size limit nor even the need to register to use our service.
            </p>
        </div>
        
        <div class="item2">
            <i class='fa fa-lock fa-5x'></i>
            <h3>We keep your files safe!</h3>
            <p>We care about privacy. All files will be deleted from our servers forever </p>
        </div>
        <div class="item3">
            <i class="fa fa-thumbs-up fa-5x"></i>
            <h3>All platforms are welcome!</h3>
            <p>Our handwritten to text converter works on all computers - no matter if you use Mac, Windows or Linux.</p>
        </div>
    </div>
</div>
</body>
</html>
